.d-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-left {
  justify-content: flex-start;
}

.align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}
