$m-desktop: 1260px;
$m-desktop-medium: 1140px;
$m-desktop-small: 991px;
$m-mobile: 776px;
$m-mobile-medium: 650px;
$m-mobile-small: 500px;

$font-main: "Gilroy", sans-serif;

$color-main: #3165cb;
$color-secondary: #00d06c;
$color-text: #646d80;
$text-color-default: #1f2633;
$color-gold: #ffa800;
$color-danger: #ff5454;
$border-color: #c5d4f0;

$container: 1440px;
